// Font size
$defaultFontSize: 16px;



// Colors
$primary-color: #0098d3;
$primary-color-hover:#0280b3;
$menu-color:#252527;
$font-ligth:#fff;
$font-grey-ligth:#e8e8e8;
$font-grey-dark:#000;
$font-grey:#808080;
